[Unit]
Description=Minecraft Server
After=network.target

[Service]
User=minecraft

WorkingDirectory=/opt/minecraft/server

TimeoutStopSec=300

# 1) Sync only your repo files (won’t delete world/)
ExecStartPre=/usr/bin/rsync -a /opt/setup/server/ /opt/minecraft/server/

# 2) Ensure correct ownership
ExecStartPre=/bin/chown -R minecraft:minecraft /opt/minecraft/server/

ExecStart=/usr/bin/screen -DmS mc-server /usr/bin/java -Xms3276M -Xmx3276M -jar paper.jar nogui

ExecStop=/bin/kill -SIGINT $MAINPID

Restart=on-failure

[Install]
WantedBy=multi-user.target
